@font-face {
  font-family: 'Anonymous Pro';
  src: url('AnonymousPro-Regular.ttf') format('truetype');
}

:root {
  --xxs-screen-width: 300px;
  --fg-col: #f5f5f5;
  --bg-col: #333333;
  --hov-col: #666666;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: var(--fg-col);
  background-color: var(--bg-col);
  font-family: 'Anonymous Pro', monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  z-index: 2;
  max-width: 750px;
  padding: 0 40px;
}

#gl-canvas {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

h1,
h2 {
  font-size: 28px;
  margin: 0px 15px 20px 15px;
  font-weight: 600;
  background-size: 300%;
}

ul {
  list-style-position: inside;
  padding: 0;
  margin: 30px 0 0 0;
}

li {
  font-size: 24px;
  margin: 15px 15px;
}

h1,
h2,
a:visited,
a {
  color: var(--fg-col);
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: wavy underline;
}
