#main-header-container {
  height: 100%;
  margin: 0;
  margin-bottom: 1em;
}

#main-header-container > h1 {
  background: $top-header-gradient;
  top: 0;
}

#main-header-container > h2 {
  background: $bottom-header-gradient;
  bottom: 0;
}

#main-header-container > h1,
#main-header-container > h2 {
  font-size: 15vw;
  position: absolute;
  margin: 5vh 4vw;
  color: transparent;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: background-anim 12s ease infinite;
  animation: background-anim 12s ease infinite;
  animation-delay: -3s;
}

@media (orientation: landscape) {
  #main-header-container > h1,
  #main-header-container > h2 {
    font-size: 7.5vw;
  }

  #main-header-container > h2 {
    left: auto;
    right: 0;
  }
}

@media (min-width: 2000px) {
  #main-header-container > h1,
  #main-header-container > h2 {
    font-size: 6vw;
  }
}
