html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  color: var(--fg-col);
  background-image: var(--bg-gradient);
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  max-width: 750px;
}

h1 {
  background: var(--top-header-gradient);
}

h2 {
  background: var(--bottom-header-gradient);
}

h1,
h2 {
  font-family: monospace;
  font-size: 40px;
  margin: 0px 15px 20px 15px;
  font-weight: 600;
  color: transparent;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: background-anim 12s ease infinite;
  animation: background-anim 12s ease infinite;
  animation-delay: -3s;
}

h2 {
  margin-bottom: 30px;
}

ul {
  list-style: socials;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

li {
  font-size: 36px;
  line-height: 42px;
  margin: 15px 15px;
}

a {
  color: var(--link-col);
}

a:visited {
  color: var(--link-col);
}

/* Scale up for big screens */

@media only screen and (min-width: 450px) and (min-height: 450px) {
  #container {
    margin: 120px auto 120px auto;
  }

  h1,
  h2 {
    font-size: 54px;
    margin: 15px 15px;
  }

  h2 {
    margin-bottom: 50px;
  }

  p {
    font-size: 22px;
    margin: 20px 15px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 500px) and (min-height: 700px) {
  h2 {
    margin-bottom: 40px;
  }

  li {
    font-size: 24px;
    line-height: 28px;
  }
}

@media only screen and (max-width: 280px) {
  h1,
  h2 {
    font-size: 20px;
  }

  li {
    font-size: 18px;
    line-height: 20px;
  }
}
