html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-col;
  color: $fg-col;
  font-family: Anonymous Pro, sans-serif;
}

#container {
  max-width: 680px;
}

h1 {
  background: $top-header-gradient;
}

h2 {
  background: $bottom-header-gradient;
}

h1, h2 {
  font-family: Nixie One, sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: $alt-text-col;
  color: transparent;
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-animation: background-anim 12s ease infinite;
  animation: background-anim 12s ease infinite;
  animation-delay: -3s;
}

p, ul {
  font-size: 22px;
}

#main {
  margin: 0 auto;
}
