  /* Colours */

  $bg-col: #FBFFFE;
  $fg-col: #001514;
  $link-col: #6B0504;
  $link-visited-col: #6B0504;
  $alt-text-col: #D4AA7D;
  $top-col-1: #6B0504;
  $top-col-2: #E6AF2E;
  $top-col-3: #A3320B;
  $bot-col-1: #A3320B;
  $bot-col-2: #E6AF2E;
  $bot-col-3: #6B0504;
  $top-header-gradient: linear-gradient(0.135turn, #{$top-col-1} 22%, #{$top-col-2} 50%, #{$top-col-3} 77%);
  $bottom-header-gradient: linear-gradient(0.135turn, #{$bot-col-1} 22%, #{$bot-col-2} 50%, #{$bot-col-3} 77%);

/* Fonts */

@font-face {
  font-family: 'Nixie One';
  src: local('Nixie One'),
        url('../fonts/nixieone-regular.woff2') format('woff2'),
        url('../fonts/nixieone-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'Anonymous Pro';
  src: local('Anonymous Pro'),
        url('../fonts/anonymouspro-regular.woff2') format('woff2'),
        url('../fonts/anonymouspro-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
  unicode-range: U+000-5FF;
}

/* Animations */

@-webkit-keyframes background-anim {
  0% { background-position: 0 0; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}

@keyframes background-anim {
  0% { background-position: 0 0; }
  50% { background-position: 100% 100%; }
  100% { background-position: 0 0; }
}
