<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ page.desc }}">
    <title>{{ page.title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script
      data-goatcounter="https://lawrie.goatcounter.com/count"
      async src="//gc.zgo.at/count.js">
    </script>

  </head>
  <body>
    {{ content }}
    <canvas id="field"></canvas>
    <script src="/assets/js/flyingThroughSpace.js"></script>
    <script src="/assets/js/ztext.min.js"></script>
  </body>
</html>

